[submodule "cwm4"]
	path = cwm4
	url = https://github.com/CarloWood/cwm4.git
	branch = master
[submodule "cwds"]
	path = cwds
	url = https://github.com/CarloWood/cwds.git
	branch = master
[submodule "gnuplot_i"]
	path = gnuplot_i
	url = https://github.com/CarloWood/gnuplot_i.git
	branch = master
[submodule "utils"]
	path = utils
	url = https://github.com/CarloWood/ai-utils.git
	branch = master
[submodule "cairowindow"]
	path = cairowindow
	url = https://github.com/CarloWood/cairowindow.git
        branch = master
[submodule "threadsafe"]
	path = threadsafe
	url = https://github.com/CarloWood/threadsafe.git
	branch = master
[submodule "events"]
	path = events
	url = https://github.com/CarloWood/events.git
	branch = master
